.game{
    position: relative;
    display:flex;
    width: 100%;
    padding: 40px;
}

.game .player{
    display: flex;
    flex-direction: column;
    width: calc(50% - 60px);
}

.info {
    margin-bottom: 30px;
    text-align: center;
}

.info > *{
    display: inline-block;
}

.info .rank {
    margin-right: 20px;
}

.main-info {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.main-info .score{
    font-size: 65px;
    font-weight: bold;
    flex-grow: 1;
    text-align: right;
}

.player.opponent .photo{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.player.opponent .main-info .score{
    text-align:left;
}

.player.opponent .main-info .photo{
    order: 2;
}

.sep {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin-top: 50px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.line-game {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.line-game .player {
    display: flex;
    align-items: center;
    width: calc(50% - 25px);
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.line-game .player .score{
    transition: all 0.3s;
}
.line-game.game-win .player:not(.opponent) {
    background-color: rgba(212, 226, 210, 0.5);
}
.line-game.game-win .player:not(.opponent) .score{
    transform: scale(1.5) translateX(-10px);
}
.line-game.game-win .player.opponent{
    background-color: rgba(226, 142, 136 , 0.3);
}
.line-game.game-win .player.opponent .score{
    transform: scale(0.8) translateX(18px);
}

.line-game.game-loss .player:not(.opponent) {
    background-color: rgba(226, 142, 136 , 0.3);
}
.line-game.game-loss .player:not(.opponent) .score{
    transform: scale(0.8) translateX(-18px);
}
.line-game.game-loss .player.opponent{
    background-color: rgba(212, 226, 210, 0.5);
}
.line-game.game-loss .player.opponent .score{
    transform: scale(1.5) translateX(10px);
}

.line-game .info {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0;
}

.line-game .photo {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    overflow: hidden;
}

.line-game .photo img{
    width: 100%;
}

.line-game .rank,
.line-game .name {
    font-weight: bold;
    font-size: 18px;
}
.line-game .name {
    text-align: left;
}
.line-game .rank {
    width: 35px;
}

.line-game .player.opponent .info{
    order: 2;
    justify-content: flex-end;
}

.line-game .player.opponent .photo{
    order: 2;
}

.line-game .player.opponent .rank{
    order: 1;
    margin-right: 0;
    margin-left: 20px;
}

.line-game .player.opponent .name{
    order: 0;
    text-align: right;
}

.line-game .sep {
    margin: 0;
    width: 50px;
    font-weight: normal;
}

.game .replay-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: min-content;
    width: fit-content;
    padding: 6px 8px;
    transform: scale(0) translateY(100px);
    opacity: 0;
    animation: btn linear 0.5s forwards;
    animation-delay: 1.5s;
}

.anim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 40px;
    width: 150px;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    transform: scale(0) rotate(0) translateY(0px)s;
    animation: winner 1.5s forwards;
}

.game-win .anim {
    color: green;
}
.game-loss .anim {
    color: rgb(219, 2, 2);
}

@keyframes winner { 
    0%{transform: scale(0) rotate(0) translateY(0px);}
    100%{transform: scale(3.5) rotate(720deg) translateY(-50px);}
}

@keyframes btn { 
    0%{
        transform: scale(0) translateY(100px);
        opacity: 0;
    }
    100%{
        transform: scale(1) translateY(100px);
        opacity: 1;
    }
}

.final-board {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100px;
    width: 150px;
    transform: translateY(150px);
}

.final-board .final-rank {
    margin-bottom: 20px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.final-board .final-rank sup{
    font-size: 35px;
}

.final-board .medal{
    width: 100%;
    overflow: hidden;
}

.final-board .medal img{
    width: 300%;
}

.final-board .medal .gold{
    transform: translateX(20px);
}

.final-board .medal .silver{
    transform: translateX(-150px);
}

.final-board .medal .bronze{
    transform: translateX(-318px);
}

.match-page.league-over .sep,
.match-page.league-over .main-info .score,
.match-page.league-over .info .rank,
.match-page.league-over .game .player.opponent,
.match-page.league-over .anim,
.match-page.league-over .tab-games{
    opacity: 0;
    transition: all 0.3s;
}

.match-page.league-over .final-board {
    left: auto;
    padding: 0 calc(25% - 75px);
    box-sizing: content-box;
    transform: translateY(-150px);
    transition: all 0.3s;
}